pocketsphinx/win32
sphinxbase/win32
.vs/
pocketsphinx/.vs/
sphinxbase/.vs/
pocketsphinx/bin
sphinxbase/bin
pocketsphinx/win32/pocketsphinx/pocketsphinx.vcxproj
pocketsphinx/win32/pocketsphinx_batch/pocketsphinx_batch.vcxproj
pocketsphinx/win32/pocketsphinx_continuous/pocketsphinx_continuous.vcxproj
pocketsphinx/win32/pocketsphinx_mdef_convert/pocketsphinx_mdef_convert.vcxproj
sphinxbase/win32/sphinx_cepview/sphinx_cepview.vcxproj
sphinxbase/win32/sphinx_fe/sphinx_fe.vcxproj
sphinxbase/win32/sphinx_jsgf2fsg/sphinx_jsgf2fsg.vcxproj
sphinxbase/win32/sphinx_lm_convert/sphinx_lm_convert.vcxproj
sphinxbase/win32/sphinx_pitch/sphinx_pitch.vcxproj
sphinxbase/win32/sphinx_seg/sphinx_seg.vcxproj
sphinxbase/win32/sphinxbase/sphinxbase.vcxproj
